<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardGamesProject"
        tools:targetApi="33">
        <activity
            android:noHistory="true"
            android:name=".GameActivities.TwentyOneGame"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:noHistory="true"
            android:name=".GameActivities.LiarGame"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:noHistory="true"
            android:name=".GameActivities.FoolGame"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GameChooseActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>